body
{
    background-color: #A9A9A9;	
}

#main
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    background: blue;
}

#header
{
    height="333";
    width="1195";
    padding: 0px 330px;
    background: red;
}

#footer
{
    text-align: center;
    background: green;
}

#body
{
    background: black;
}

#navbar
{
    float:left;
    width:210px;
    padding: 10px;
    background: yellow;
}

#content
{
    background: white; 
}

ul #navbar
{
    list-style-type:none;
}

li #navbar
{
    padding: 10px;
    color: #828391;
}

#login
{
    width: 400px;
    margin: 0 auto;
    align: center;
    color:#333333;
    text-decoration:none;
    background:white;
}

