body
{
    background-color: #1b2855;	
}

#main
{
    width: 1192px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#header
{
    height="273";
    width="1192";
    padding-bottom: 10px;
}

#footer
{
    text-align: center;
}

#body
{
    background-color: #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar
{
    float:left;
    margin: 10px;
}

a.plain
{
    text-decoration: none;
}

#content
{
}

#navbar ul
{
    list-style-type:none;
}

#navbar li
{
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
}

.defaultForm
{
    position: relative;
}

.defaultForm input, label, select, textarea
{
    margin: 5px 0px 15px 0px;
}

#login
{
    width: 400px;
    margin: 0 auto;
    align: center;
    color:#333333;
    text-decoration:none;
}

