body
{
    background-color: #1b2855;	
}

div#main
{
    width: 1192px;
    margin-left: auto;
    margin-right: auto;
}

div#header
{
    padding-bottom: 10px;
}

img#header
{
    height="273";
    width="1192";
}

div#footer
{
    text-align: center;
}

div#body
{
    background-color: #c2c2c2;
    padding-bottom: 10px;
}

div#navbar
{
    position: relative;
    float: left;
    width: 200px;
}

a.plain
{
    text-decoration: none;
}

div#content
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#navbar ul
{
    list-style-type:none;
}

#navbar li
{
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
}

form.defaultForm
{
    position: relative;
}

.defaultForm input, label, select, textarea
{
    margin: 5px 0px 15px 0px;
}

#login
{
    width: 400px;
    margin: 0 auto;
    align: center;
    color:#333333;
    text-decoration:none;
}
