/* body */
/*** html & css are referensed from https://vancouver.ca/police/***/
ul
 {list-style-type:none;}
 
body {
	margin:30px 0px; 
	padding:0px;
	/* background-image:url(/assets/images/ui/page_bg_gradient_green.gif);
	background-repeat:repeat-x;
	background-position:top; */
	background-color:#bebebe; /* o */
	color:#333333; /* v */
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	text-align:center; /* centers entire layout AND text, so need to reset text-align:left in 'container' wrapper in layout.css */
}

img {
	border:none;
}

/* layout container / wrapper */
div#container {
	margin:0px auto;
	max-width:980px; /* CNN, Apple etc. all going about 980px */
	min-width:800px;
	width:auto !important; /* dynamic width for modern browsers that support it */
	width:800px; /* fixed width for older browsers */
	/* background-color:#FFFFFF; o */
	/* border:0px solid #7F878F; o, v */
	padding:0px; /* v internal padding to all other divs */
	text-align:left; /* resets text alignment, main.css centers entire layout */
}

div#wrapper {

}

#headerGreenBG {
	background-image:url(bg-header-green.png);
	background-repeat:repeat-x;
	background-position:center;
}

#tableLayoutMain {
	/* background-color:#ffffff; */
}

/* photo header for home page
overwrite the image, or change the href below to change graphic
*/
#headerBGHome {
	background-image:url(home-top-banner-1.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

/* simple blue header for all pages other than home page */
#headerBG {
	background-image:url(bg-header-blue.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

#contentBG {
	background-color:#ffffff;
	background-image:url(bg-crest-watermark.png);
	background-repeat:no-repeat;
	background-position:left top;
}

#navBG {
	background-image:url(bg-nav-grey.png);
	background-repeat:repeat;
}

#rightColBG {
	padding:6px;
	background-image:url(bg-rightcol-grey.png);
	background-repeat:repeat;
}

/*
#rightColBG ul {
	margin-left:1px;
}
*/

#rightColBG ul {
	margin-top:-6px;	
	margin-bottom:-6px;	
}

#rightColBG ul li {

}

/* main nav */
#navMain {
	padding:6px;
}

	/* 
	list-style:none;
	margin-left:-30px;
	margin-bottom:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:90%;
	font-weight:bold;
	text-transform:uppercase;
	*/

#navMain .navMainSpan {
	margin-top:10px;
}

#navMain a.navMainPrimary {
	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;	
}

#navMain ul li {
	list-style:none;
	margin-left:-20px;
	margin-bottom:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
	font-weight:normal;
	text-transform:none;
}

#navMain ul li a {
	text-decoration:none;
}

#navMain ul li a:hover {
	text-decoration:underline;
}

/* hidden nav */
#hideAbout {
	display:block !important; /* change to turn on the show / hide feature */
	margin-top:-8px;
}

#hideCommunity, #hidePrevention, #hideServices, #hideRecruiting {
	display:block !important; /* change to turn on the show / hide feature */
}

/* utility nav */
#navUtility {
	margin-bottom:10px;
	text-align:right;
	font-size:80%;
	font-weight:bold;
}

#navUtility a:link, #navUtility a:active, #navUtility a:visited {
	color:#333333;
	text-decoration:none;
}

#navUtility a:hover {
	color:#333333;
	text-decoration:underline;
}

#navUtility a.Nine11Link {
	padding:3px;
	background-color:#cc0000;
	color:#FFFFFF;
	text-decoration:none;
}

#navUtility a:hover.Nine11Link {
	padding:3px;
	background-color:#cc0000;
	color:#FFFFFF;
	text-decoration:underline;
}

#spotlight {
	margin:auto;
	margin-top:-6px;
	margin-bottom:16px;	
	width:570px;
	background-color:#1b2855;
	color:#FFFFFF;
	text-align:left;
}

#spotlight h1, #spotlight p {
	margin: 8px 8px 8px 8px;
	
}

#spotlight a {
	color:#FFFFFF;
}

/* media releases */
#mediaReleases {
	padding:0px 6px 2px 6px;
	background-color:#c3c3c3;
}

#mediaReleases h2 {
	padding-top:6px;
}

/* services callout */
#calloutServices {
	padding:0px 6px 2px 6px;
	background-color:#d0d0d0;
}

#calloutServices h2 {
	padding-top:6px;
}

/* most wanted */
#mostWanted {
	padding:0px 6px 2px 6px;
	background-color:#c6e0f3;
}

#mostWanted h2 {
	padding-top:6px;
}

/* callouts */
#calloutBlue {
	padding:0px 6px 2px 6px;
	background-color:#c6e0f3;
}

#calloutBlue h2 {
	padding-top:6px;
}

#calloutBlue ul {
	margin-left:-6px;
}

#calloutGreen {
	padding:0px 6px 2px 6px;
	background-color:#d0dbbf;
}

#calloutGreen h2 {
	padding-top:6px;
}

.h2Blue {
	padding:4px;
	background-color:#c6e0f3;
}

.h2Green {
	padding:4px;
	background-color:#d0dbbf;

}
.h2Green a:link, .h2Green a:active, .h2Green a:visited {
	text-decoration:none;
}

/* footer */
#footerBG {
	background-color:#1b2855;
	font-size:70%;
}

#footer {
	padding:4px;
	font-size:80%;
}


#footer a:link, #footer a:active, #footer a:visited {
	color:#333333;
	text-decoration:underline;
}

#footer a:hover {
	color:#333333;
	text-decoration:underline;
}


/* layout elements */
#homeNews td {
	padding:14px;
}

.wireframePhoto {
	margin:10px;
	background-color:#CCCCCC; 
}

/* indents */
.indent10px {
	padding:10px;
}

.indent6px {
	padding:6px;
}

.indentContentTriMiddle {
	padding:0px 10px 0px 10px;
}

.indentContentTriRight {
	padding:0px 10px 0px 10px;
}

/* alignment */
.alignRight {
	text-align:right;
}

.alignLeft {
	text-align:left;
}

.alignCenter {
	text-align:center;
}

/* links */
a:link, a:active, a:visited {
	color:#005995;
	text-decoration:underline;
}

a:hover {
	color:#007d00;
	text-decoration:underline;
}

/* "more" links (smaller) */
a:link.linkMore, a:active.linkMore, a:visited.linkMore {
	margin-top:-6px;
	font-size:80%;
	color:#005995;
	text-decoration:underline;
}

a:hover.linkMore {
	margin-top:-6px;
	font-size:80%;
	color:#007d00;
	text-decoration:underline;
}

/* text styles */
p, ul li, ol li {
	font-size:80%;
}

ul li ul {
	margin-top:4px;
	margin-bottom:4px;
	/* margin-left:-8px; */
}

ul li ul li {
	font-size:95%;
	list-style:square;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	text-transform:uppercase;
	color:#22518b;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:95%;
	font-weight:bold;
	color:#3d6ba4;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
}

h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:75%;
	font-weight:bold;
	color:#22518b;
}

.fineprint {
	font-size:60%;
	text-transform:none;
}

.mousetype {
	font-size:75%;
	text-transform:none;
}

p.mousetype {
	font-size:60%;
	text-transform:none;
}

/* colors */
.red {
	color:#FF0000;
}
.redBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #990000;
}

/* tables */
th {
	font-size:80%;
}

.tableData td {
	padding:4px;
	font-size:80%;
}

.tableData td h3 {
	margin-top:0px;
	margin-left:8px;
}
.bgHighLight{
	background-color:#FFFF99;
}

/* hidden div styling */
.toggleLink {
	display:block;
	width:50px;
	margin-top:8px;
	padding:1px;
	background-color:#cfdeff;
	border:1px solid #abbee7;
	font-size:80%;
	color:#005995;
	text-align:center;
}

a.toggleLink {
	text-decoration:none;
}

/* slideshow, no back / next */
#photoSlideshow img {
  position:absolute;
  z-index:0;
}
#photoSlideshow {
  width:570px;
  height:250px;
  overflow:hidden;
}

/* ajax tweet embed */
.tweet, .query {
	font-size: 85%;
	/* color: #085258; */
}

.tweet_list {
	/* -webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	*/
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	/* background-color: #8ADEE2; */
}
	
.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em 0;
	list-style-type: none;
}
		
.tweet_list li a {
	color: #0C717A;
}
		
.tweet_list .tweet_even {
	/* background-color: #91E5E7; */
}

.tweet_list .tweet_avatar {
	padding-right: .5em; float: left;
}
		
.tweet_list .tweet_avatar img {
	vertical-align: middle;
}
			
.tweet_list .tweet_time {
