body
{
	background-color: #A9A9A9;
	
}

h1
{
	text-align:center;
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
	font-size:300%;
}

h2
{
	text-align:center;
	color: #333333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:150%;
}	



img
{
	text-align:center;
    display:block;
}

ul
 {
	list-style-type:none;
}
 
 
#login
{
	width: 400px;
    margin: 0 auto;
	align: center;
	color:#333333;
	text-decoration:none;
	background:white;
	
}

#headerbg
 {
	text-align:center;
	padding:20px;
}


	
#container
 {
	position:relative;
	margin:0 auto;
	width:1500px;
	font-family:  Copperplate / Copperplate Gothic Light, sans-serif;
}

	
#footer
{
	padding:10px;
	text-align:center;
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.navigationBar
{
	float:left;
	width:210px;
	padding: 0px 220px;
	color: #333333;
	font-family: Century Gothic, sans-serif;
}
	
.login
 {
	float:right;
	width:850px;
	clear:right;
}
	
.clear
 {
	clear:both;
}


